{% extends 'pages/base.html' %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}

    <section class='user-section'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Reinitialisation du mot de passe</legend>
                            {{ form|crispy}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit" id="submit_button">Demander un lien de changement de mot de passe.</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--</section> -->

{% endblock content %} 