{% extends 'pages/base.html' %}

{% block content %}
<section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-center">A propos - template</h3>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt eros quis ipsum consectetur, in euismod elit vehicula. Nam sit amet ex arcu. Praesent sed justo odio. Curabitur sollicitudin ligula eget risus convallis, ac malesuada ante pellentesque. Vivamus a massa turpis. Donec ut placerat nisi. In in aliquet mauris, vitae fringilla nisi. Nam id purus rhoncus, sodales nibh eu, imperdiet eros. Nam malesuada enim non arcu convallis, euismod malesuada ipsum volutpat.</p>

                                <p>Donec vestibulum turpis eu metus congue, a convallis orci posuere. Nam vel risus at lectus egestas hendrerit ut sit amet ipsum. Maecenas quis mauris eget odio dictum elementum. Integer commodo, mauris at finibus euismod, nisl est pellentesque mi, eu varius nisi sapien ut risus. Aliquam sed blandit magna. In hac habitasse platea dictumst. Duis condimentum lectus a mollis maximus. Proin vehicula risus ut lorem accumsan blandit.</p>

                                <p>Nulla facilisi. Integer lobortis auctor dui, eget consectetur augue lacinia vel. Fusce rhoncus ipsum purus, sed maximus metus auctor at. Praesent gravida molestie augue ac tincidunt. Nam pellentesque metus enim, vel ultrices nibh lacinia ac. Maecenas pellentesque, urna ac fringilla fringilla, velit velit congue augue, eget fermentum dolor quam vitae nulla. Nullam rutrum vestibulum mauris, in sollicitudin velit auctor non. Sed viverra, ipsum non sollicitudin ultricies, massa metus vehicula erat, eu iaculis justo dolor et velit.</p>

                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in mi et nisl tincidunt imperdiet vitae at libero. Ut euismod lectus velit, auctor gravida quam imperdiet in. Nam facilisis purus eu metus blandit, a tincidunt dolor fermentum. Sed ornare, mi et volutpat fringilla, est nulla fringilla orci, id volutpat magna dui a arcu. Duis vitae metus eget nunc volutpat malesuada. Curabitur gravida nisi orci, id malesuada risus bibendum ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas


                                <p>Nullam vel lectus a erat venenatis blandit eu eu nisi. Suspendisse venenatis pharetra mi, ut feugiat tortor fringilla eget. Sed sit amet nibh vel metus malesuada consectetur ac eu purus. Maecenas malesuada ac metus id faucibus. Maecenas euismod nunc quis libero sagittis, a faucibus neque gravida. Ut interdum est ipsum, non placerat libero fringilla sed. Nulla bibendum leo nulla, vel commodo magna aliquam ac. Suspendisse tristique lacus vitae mauris gravida, ut tincidunt purus vehicula. Nunc ut imperdiet nisi. Aenean sit amet erat tristique, sodales arcu ac, maximus enim. Nullam ultricies tortor in suscipit tempor. Suspendisse egestas enim a odio consequat varius. Praesent convallis dapibus lorem vel euismod. Vivamus interdum convallis ligula a luctus. </p>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

{% endblock content %}